In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Elec - Stacked - 2005-2020.csv')
df

,year,gor,region,e7_meters,standard_meters,domestic_meters,non_domestic_meters,total_meters,e7_sales_gwh,standard_sales_gwh,...,e7_median_kwh,standard_mean_kwh,standard_median_kwh,domestic_mean_kwh,domestic_median_kwh,non_domestic_mean_kwh,non_domestic_median_kwh,all_mean_kwh,all_median_kwh,avg_per_hhld_kwh
0,2005,E12000006,East,0.000,0.000,2440.150,218.020,2658.170,0.000000,0.000000,...,0.00,0.000000,0.0,4951.000000,0.0,78854.00000,0.00,0,0.00,0.000000
1,2005,E12000004,East Midlands,0.000,0.000,1911.400,161.380,2072.780,0.000000,0.000000,...,0.00,0.000000,0.0,4522.000000,0.0,94773.00000,0.00,0,0.00,0.000000
2,2005,E12000007,London,0.000,0.000,3248.590,421.080,3669.670,0.000000,0.000000,...,0.00,0.000000,0.0,4274.000000,0.0,65426.00000,0.00,0,0.00,0.000000
3,2005,E12000001,North East,0.000,0.000,1170.120,82.180,1252.300,0.000000,0.000000,...,0.00,0.000000,0.0,3887.000000,0.0,113757.00000,0.00,0,0.00,0.000000
4,2005,E12000002,North West,0.000,0.000,2910.570,236.810,3147.380,0.000000,0.000000,...,0.00,0.000000,0.0,4527.000000,0.0,97610.00000,0.00,0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2019,E12000006,East,684.012,2017.660,2701.672,232.860,2934.532,3452.728002,7189.566595,...,3769.30,3563.319189,2874.0,3939.151236,3042.4,64576.09201,7795.55,8750.793442,3120.80,4124.861231
147,2019,E12000007,London,424.809,3206.913,3631.722,411.845,4043.567,2034.651527,10483.284370,...,3752.00,3268.964382,2540.0,3446.832082,2633.7,60156.34308,5514.20,9222.803781,2705.10,3555.681266
148,2019,E12000008,South East,617.812,3337.166,3954.978,350.218,4305.196,3233.665035,12259.273420,...,4013.80,3673.558168,2922.3,3917.326077,3039.5,61553.50140,7098.55,8605.899152,3111.85,4096.114440
149,2019,E12000009,South West,344.213,2244.334,2588.547,264.094,2852.641,2109.007933,7857.311042,...,5015.30,3500.954422,2813.6,3850.159559,2960.4,49557.67596,6489.95,8081.705286,3041.80,4113.250249
150,2019,W92000004,Wales,91.664,1341.225,1432.889,132.309,1565.198,548.804603,4307.118556,...,4607.85,3211.331846,2701.5,3388.903927,2757.2,74522.88715,6684.70,9401.987375,2835.80,3547.815031

In [6]:
a=df
type(a)

pandas.core.frame.DataFrame